extends layout

block content
  div#post
    h1= post.postTitle
    hr
    p= post.postBody
    | - 
    a(href=post.user.url) #{post.user.username}

  div#options.row.no-gutters
    button#upvote.vote.col-4.col-md-2(class=user?'':'disallowed', data-postid=post._id) +#{post.upvotes.length}
    button#downvote.vote.col-4.col-md-2(class=user?'':'disallowed', data-postid=post._id) -#{post.downvotes.length}
    
    a#next.col-4.col-md-2.ml-auto(href='/') Next
      //- i.fa.fa-arrow-right

block portal
  div#portal.d-flex.flex-column
    if user
      h3 Hello, #{user.username}
      button#create-post.btn.btn-primary.primary-button(data-toggle="modal" data-target="#create-post-modal") Create a new post!
      form#logout-form(action="/logout", method="POST")
        button#logout.btn.btn-danger(type="submit") Logout

    else
      button#create-account.btn.btn-primary.primary-button(data-toggle="modal" data-target="#portal-modal", data-type="create-account") Create Account
      button#login.btn.btn-primary.primary-button(data-toggle="modal" data-target="#portal-modal", data-type="login") Log In